rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /datos-energia/{document} {
      allow read, write: if true;
    }
    match /usuarios/{document} {
      allow read, write: if true;
    }
    match /historial/{document} {
      allow read, write: if true;
    }
  }
}